# General
.DS_Store
*.py[cod]

# IntelliJ IDEA
*.iml
.idea
.idea/misc.xml
.idea/workspace.xml

# gradle
.gradle
gradle
gradlew
gradlew.bat
build

# huskar & soa
backList
soa-backup

# etc
*/etc/env/global.properties
*/etc/env/run.properties

# release
/release

dist


out